/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, white, rgb(193, 235, 255));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
